@import "./normalize.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap");

*, *::before, *::after {
  box-sizing: border-box;
  outline: 0;
}

a:focus, a:active, button:focus, button:active {
  outline: 0;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Comfortaa, Ubuntu, "Open Sans",
    "Helvetica Now", "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 18px;
  background-color: white;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  transition: all .125s ease-out;
  color: #9f82fe;
  font-weight: bold;
}
a:hover {
  color: #7349fe;
}
a:active {
  color: #5d37d8;
}

button {
  border-radius: .3rem;
  padding: 1rem 1.5rem;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.0125),0 1px 1px rgba(0,0,0,0.05);
  border-color: rgba(0,0,0,0.3);
  border-style: solid;
  border-width: 0px;
  border-top-width: .0625rem;
  border-bottom-width: calc(.2rem + .0625rem);
  background-color: #9f82fe;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: all .125s ease-in-out;
}
button:hover {
  background-color: #7349fe;
}
button:active {
  background-color: #5d37d8;
  border-top-width: calc(.2rem + .0625rem);
  border-bottom-width: .0625rem;
}
